<!DOCTYPE html>
<html>
    <head>
        <title>Rapper Name Generator</title>
    </head>
    <body>
        <h1> Rapper Name Generator</h1>
        <br/>
        <form>
            <label for="username">Enter your name</label>
            <input type="text" id="username" name="username" placeholder="e.g. John">
            <input type="submit" value="submit">
        </form>
        <p>text</p>
    </body>
    <footer>
        <p>This project was created in reference to the QA Learning Academy Training Based Project Specification: Practical SFIA Project. 
            This Project meets all of the specifications of said documents and fully displays the ability of the creator.</p>
        <p>By David Hulsman</p>
    </footer>
</html>