<!DOCTYPE html>
<html>
    <head>
        <title>Rapper Name Generator</title>
    </head>
    <body style="text-align: center;">
        <h1> Rapper Name Generator</h1>
        <br/>
        <form method="POST">
            <label for="username">Enter your name</label>
            <input type="text" id="username" name="username" placeholder="e.g. John">
            <input type="submit" alue="Enter the Wu-Tang">
        </form>
        <br/>
        <br/>
        <br/>
        <h3>Your new rapper name is...</h3>
        <h1>
        {{ generatedname }}
        </h1>
        <br/>
        <br/>
        <br/>
    </body>
    <footer style="padding: 100px;">
        <p></a></p>

    </footer>
</html>