<!DOCTYPE html>
<html>
    <head>
        <title>Rapper Name Generator</title>
    </head>
    <body style="text-align: center;">
        <h1> Rapper Name Generator</h1>
        <br/>
        <form method="POST">
            <label for="username">Enter your name</label>
            <input type="text" id="username" name="username" placeholder="e.g. John">
            <input type="submit" value="Enter the Wu-Tang">
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </body>
    <footer style="padding: 100px;">
        <p>This project was created in reference to the QA Learning Academy Training Based Project Specification: Practical SFIA Project. 
            This Project meets all of the specifications of said documents and fully displays the ability of the creator.</p>
        <p>By David Hulsman <a href="https://github.com/HavidDulsman">Visit my GitHub!</a></p>

    </footer>
</html>